
 @media(max-width:500px){
    nav{
    
      display:none;
    }
    span{
   color:hsla(220.6,6.5%,77%,0.99);
      }
    .hid{
      display:block;
    }
    a{
      text-align:center;
      margin:auto;
      display:block;
      font-weight:500;
      text-decoration: none;
      font-size:20px;
      color:cyan;
      margin:0px 3px;
    }
    body{
      background:hsl(227.3,100%,5%);
    }
    .hide{
      display:block;
    }
    
    body{
        background:hsl(220.6,76.5%,7%);
      color:cyan;
      }
      .input{
        color:cyan;
        background:hsla(220.6,56.5%,17%,0.99);
        margin:10px 20px;
        height:30px;
        padding:9px;
        width:80vw;
        border-color:hsla(220.6,56.5%,17%,0.99);
      }
      .textarea{
        height:100px;
        margin:20px;
        padding :10px;
        width:80vw;
        background:hsla(220.6,56.5%,17%,0.99);
      border-color:hsla(220.6,56.5%,17%,0.99);;
      color:cyan;
      }
      .button{
        background:none;
        border:1px solid rgb(0,243,255);
        color:rgb(0,243,255);
        padding: 15px 25px;
        width:80vw;
        margin:20px;
        font-size:20px;
      }
      .dive{
        position:fixed;
        right:0px;
       bottom:20vh;
       color:cyan;
      }
    
      .center{
        margin:20px;
        font-size:20px;
      }
      i{
        color:cyan;
        margin:5px 0px;
        font-size:20px;
      }
       .home-h1{
      font-size:75px;
      margin:10px;
    }
    .home-btag{
      font-size:50px;
    color:hsl(220.6,56.5%,77%);
      
    }
    .home-div{
      display:block;
    color:hsl(220.6,56.5%,77%);
      font-family:monospace;
      font-size:20px;
    
    }
    
       .proj-div{
        background:hsla(220.6,56.5%,17%,0.99);
        display:flex;
        flex-direction:column;
        margin:20px;
        height:450px;
      }
      .proj-p{
        font-size:20px;
        padding:9px;
        line-height:35px;
 height:50%;
        
      }
      .proj-img{
        height:70%;
        
      }
        .proj-div1{
        margin:200px 0px;
      }
        .proj-h3{
        font-size:30px;
        margin-bottom:-100px;
      }
    
       .about-div{
      text-align:center;
        font-size:20px;
        line-height:40px;
      }
      .about-main{
        color:white;
        
        background:hsla(220.6,56.5%,17%,0.99);
        margin:20px;
        border-radius:30px;
        text-align:center;
        line-height:35px
        
      }
      footer{
        margin:20px 0px;
      }
      .div{
        color:cyan;
      }
      .about-img{
        border:1px solid cyan;
        nax-width:100%;
      }
        .skill-ma{
         background:hsla(220.6,56.5%,32%,0.99);
        font-size:20px;
         margin:50px 10px;
         color:hsl(220.6,56.5%,77%);
         padding:20px;
         
       }
       .skill-p2{
         margin:50px 20px;
         color:hsl(220.6,56.5%,77%);
         font-weight:500;
         font-size:40px;
         
       }
       .skill-b{
         border-left:1px solid white;
         padding:20px;
        color:hsl(220.6,56.5%,77%);
        margin:30px 0px;
       }
       .skill-d{
         color:cyan;
       }
        .service-div,b{
        text-align:center;
        margin:10px;
      }
      .service-div1{
        text-align:center;
        background:hsla(220.6,56.5%,20%,0.99);
        font-size:20px;
        padding:20px;
        margin:20px;
      }
  }
    @media(min-width:520px){
      nav{
  float:right;
  
    }
    a{
      font-size:20px;
      font-weight:400;
      text-decoration: none;
      color:cyan;
      margin:0px 13px;
    }
    body{
        background:hsl(220.6,76.5%,7%);
        color:cyan;
      }
      .input{
        font-size:30px;
        color:cyan;
        background:hsla(220.6,56.5%,17%,0.99);
        margin:10px 20px;
        height:30px;
        padding:9px;
        width:80vw;
        border-color:hsla(220.6,56.5%,17%,0.99);
      }
      .textarea{
        height:100px;
        margin:20px;
        padding :10px;
        width:80vw;
        font-size:30px;
        background:hsla(220.6,56.5%,17%,0.99);
      border-color:hsla(220.6,56.5%,17%,0.99);
      color:cyan;
      
      }
      .button{
        background:none;
        border:1px solid rgb(0,243,255);
        color:rgb(0,243,255);
        padding: 15px 25px;
        width:80vw;
        margin:20px;
        font-size:30px;
      }
      .dive{
        position:fixed;
        right:20px;
        top:70vh;
        color:cyan;
    
      }
      
      i{
        color:cyan;
        width:50px;
        height:50px;
        margin:25px 0px;
      }
      .center{
        margin:20px;
        font-size:20px;
      }
      .p{
        font-size:30px;
      }
      .hid{
        display:none;
      }
       .home-h1{
      font-size:75px;
      margin:10px;
    }
    .home-btag{
      font-size:50px;
    color:hsl(220.6,56.5%,77%);
      
    }
    .home-div{
      display:block;
    color:hsl(220.6,56.5%,77%);
      font-family:monospace;
      font-size:20px;
    
    }
    .home-sec{
      margin-left:30px
    }
     .proj-div{
        background:hsla(220.6,56.5%,17%,0.99);
        display:flex;
        justify-content:center;
        width:95vw;
      }
      .proj-p{
        font-size:30px;
        padding:23px;
        width:50%;
        line-height:50px;
        border-radius:30px;
      }
      .proj-img{
        width:50%;
      }
      .proj-div1{
        margin:90px 0px;
      }
      .proj-h3{
        font-size:40px;
      }
        span{
   color:hsla(220.6,6.5%,77%,0.99);;
   font-size:35px;
      }
       
       .div{
        position:fixed;
        right:0px;
      }
      
       .about-main{
        color:white;
        
        background:hsla(220.6,56.5%,17%,0.99);
        margin:20px;
        border-radius:30px;
        text-align:center;
        line-height:35px
        
      }
      
  
      
      .about-div{
      text-align:center;
        font-size:20px;
        line-height:40px;
      }
      .about-di{
        margin:70px 0px;
        display:flex;
        width:100vw;
      }
      .about-img{
        width:50%;
      
      }
        .skill-ma{
         background:hsla(220.6,56.5%,32%,0.99);
        font-size:20px;
         margin:50px 10px;
         color:hsl(220.6,56.5%,77%);
         padding:20px;
         
       }
       .skill-p2{
         margin:50px 20px;
         color:hsl(220.6,56.5%,77%);
         font-weight:500;
         font-size:40px;
         
       }
       .skill-b{
         border-left:1px solid white;
         padding:20px;
        color:hsl(220.6,56.5%,77%);
        margin:30px 0px;
       }
       .skill-d{
         color:cyan;
       }
        .qua-div{
          display:flex;
          justify-content:space-between ;
        }
             .service-div,b{
        text-align:center;
        margin:10px;
      }
      .service-div1{
        text-align:center;
        background:hsla(220.6,56.5%,20%,0.99);
        font-size:20px;
        padding:20px;
        margin:20px;
      }
    
      .service-flex{
        display:flex;
      }

    }
